<form method="post" action="/cart/add">
    {% if product.available %}
        {% if product.variants.size == 1 %}    
            {% for variant in product.variants limit:1 %}
                <input type="hidden" name="id" value="{{ variant.id }}" />
                <button class="btn btn-cart" type="submit"><i class="fa fa-shopping-cart"></i></button>
            {% endfor %}
        {% else %}
            <a class="btn" href="{{ product.url }}" title="Choose options"><i class="fa fa-bars"></i></a>
        {% endif %}
	{% else %}
	    <button class="btn btn-cart btn-disabled" disabled="disabled"><i class="fa fa-ban"></i></button>
	{% endif %}
</form>